<!DOCTYPE html>
<html>
<footer class="footer fixed-bottom" th:fragment="footer" data-background-color="black">
	<div class="container">
		<div class="row" style="margin-bottom: 70px;">
			<div class="col-sm-6">
				<nav>
					<ul>
						<li><a th:href="@{/}"> Home </a></li>
						<li><a th:href="@{/login}"> Login </a></li>
						<li><a th:href="@{/tournaments}"> Tournaments </a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-6">
				<div class="copyright" id="copyright">
							&copy;
							<script>
								document.getElementById('copyright').appendChild(
										document.createTextNode(new Date().getFullYear()))
							</script>
							, Created by <a href="https://github.com/ilandeka" target="_blank">Ivan
								Landeka</a>.
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-3">
				<button class="btn btn-link btn-icon btn-lg">
					<i class="fab fa-facebook"></i>
				</button>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-link btn-icon btn-lg">
					<i class="fab fa-twitter"></i>
				</button>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-link btn-icon btn-lg">
					<i class="fab fa-youtube"></i>
				</button>
			</div>
			<div class="col-sm-3">
				<button class="btn btn-link btn-icon btn-lg">
					<i class="fab fa-instagram"></i>
				</button>
			</div>
		</div>
	</div>
</footer>
</html>