/* 
	@author: Ivan Landeka
	@description: Custom CSS file for Royale League
*/

/*** TEST 
.tab-content>.tab-pane{
    display:block;
    visibility:hidden;
}

.tab-content>.active{
    visibility:visible;
}
*/

/* Elements */
body {
	background-color: black;
}

h3 {
	color: #e3aa0e;
}

.btn, .btn:hover {
	background-color: black;
}

/* Classes */
.clear-filter[filter-color="black"] {
  background: background: rgba(0, 0, 0, 1);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, background: rgba(0, 0, 0, 0.5), rgba(224, 23, 3, 0.6));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, background: rgba(0, 0, 0, 0.5), rgba(224, 23, 3, 0.6));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, background: rgba(0, 0, 0, 0.5), rgba(224, 23, 3, 0.6));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, background: rgba(0, 0, 0, 0.5), rgba(224, 23, 3, 0.6));
  /* Standard syntax */
}

.section {
	background-color: black;
}

.section-headline span {
	color: #e0aa3e;
	font-size: 2em;
	font-weight: bold;
	padding: 5px 25px;
}

.footer {
	background-color: black;
	padding: 50px 0px 50px 0px;
	height: 350px;
}

.section-tournamentDetail, .section-tournaments {
	padding-bottom: 50px;
}

.navbar {
	background-color: black;
}

.navbar-nav .form-control:focus {
	background-color: hsla(0,0%,100%,.2);
}

.navbar-nav .form-control::placeholder {
	/* addressing the search placeholder color */
}

.section-tournamentDetail img {
	height: 21rem;
	width: 16rem;
}

.page-header-image {
	background-image: url('/img/wz.jpg');
}

.icon {
	color: #e0aa3e;
	position: absolute;
	top: 70%;
}

.icon a:hover i {
	color: white;
}

.icon-logo {
	width: 15%;
	height: 15%;
}

.section-how .card {
	/* min-height: 350px; */
	color: white;
	background-color: transparent;
}

.hr-center {
	margin-top: -45px;
}

.blockquote {
	margin-bottom: 0px;
}

.photo-container {
	border: #e0aa3e solid 5px; 
	border-radius: 50%;
}

/*** Make rows equal heights */
.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.flex-row>[class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row.row:after, .flex-row.row:before {
	display: flex;
}

.section-settings .card {
	min-height: 400px;
}

.section-profile .card {
	min-height: 400px;
}

.vl {
  /* vertical line */
  border-left: 2px solid white;
}

/* IDs */
#tournamentList img {
	height: 22rem;
	width: 15rem;
}

/* Media Queries */