<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/main::head">
	<title>Royale League</title>
</head>
<body class="index-page sidebar-collapse">
	<div th:replace="fragments/header::header"></div>
	<div class="page-header clear-filter" filter-color="orange">
		<div class="page-header-image" data-parallax="true"></div>
		<div class="container">
			<div class="content-center brand">
				<!-- <img src="/img/icon-big.png" alt="" />  -->
				<img src="/img/banner.png" alt="" />
				<h1 class="h1-seo"></h1>
				<h3>
					Tournaments For You and Your Squad <i class="fas fa-heart"></i>
				</h3>
			</div>
			<div class="row">
				<div class="col-6 offset-3 icon">
					<a onclick="scrollDown()"><i
						class="fa fa-angle-down fa-3x"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper container">
		<div class="section-one">
			<div class="container">
				<div class="section-headline"></div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="section-headline">
					<h3>
						<span>How it works</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="section section-how">
				<div class="container">
					<div class="row justify-content-center">
						<div class="flex-row col-sm-12">
							<!-- How it works -->
							<div class="card col-sm-3">
							  <h1 class="mx-auto"><i class="fas fa-chess-knight"></i></h1>
							  <div class="card-body text-center">
							  	<h6 class="card-subtitle mb-2 text-center">SKILL BASED</h6>
							    <p class="card-text">All teams will be placed in different divisions based on their skills.</p>
							  </div>
							</div>
							<div class="card col-sm-3">
							  <h1 class="mx-auto"><i class="fas fa-clipboard-list"></i></h1>
							  <div class="card-body text-center">
							  	<h6 class="card-subtitle mb-2">LIVE SCORING</h6>
							    <p class="card-text">Track your team stats in real time on our live scoreboard.</p>
							  </div>
							</div>
							<div class="card col-sm-3">
							  <h1 class="mx-auto"><i class="fas fa-award"></i></h1>
							  <div class="card-body text-center">
							  	<h6 class="card-subtitle mb-2">BIG PRIZES</h6>
							    <p class="card-text">Earn money prizes, future tournament entries and many more...</p>
							  </div>
							</div>
							<div class="card col-sm-3">
							  <h1 class="mx-auto"><i class="fas fa-search"></i></h1>
							  <div class="card-body text-center">
							  	<h6 class="card-subtitle mb-2">CHEAT DETECTION</h6>
							    <p class="card-text">We run through all competing players stats and ban players who violate our policies.</p>
							  </div>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="section-headline">
					<h3>
						<span>Tournaments</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="section section-featured">
			<div class="container">
					<div class="row justify-content-center">
						<div class="flex-row col-sm-12">
							<div class="card col-sm-3 offset-sm-1">
							  <h1 class="mx-auto mt-5"><i class="fas fa-users"></i></h1>
							  <div class="card-body">
							  	<h5 class="text-center">FREE DUOS</h5>
							  	<h6 class="card-subtitle mb-2 text-center">Mon. April 6, 2021</h6>
							  	<h3 class="text-center">33 &#128;</h3>
							    <p class="card-text">Mode</p>
							    <p class="card-text">Length</p>
							    <p class="card-text">Start Time</p>
							    <p class="card-text">Scoring</p>
							    <p class="card-text">Divisions</p>
							    <p class="card-text">Cost</p>
							  </div>
							</div>
							<div class="card col-sm-3 offset-sm-1">
							  <h1 class="mx-auto mt-5"><i class="fas fa-users"></i></h1>
							  <div class="card-body">
							  	<h5 class="text-center">FREE TRIOS</h5>
							  	<h6 class="card-subtitle mb-2 text-center">Mon. April 6, 2021</h6>
							  	<h3 class="text-center">44 &#128;</h3>
							    <p class="card-text">Mode</p>
							    <p class="card-text">Length</p>
							    <p class="card-text">Start Time</p>
							    <p class="card-text">Scoring</p>
							    <p class="card-text">Divisions</p>
							    <p class="card-text">Cost</p>
							  </div>
							</div>
							<div class="card col-sm-3 offset-sm-1">
							  <h1 class="mx-auto mt-5"><i class="fas fa-users"></i></h1>
							  <div class="card-body">
							  	<h5 class="text-center">QUADS</h5>
							  	<h6 class="card-subtitle mb-2 text-center">Mon. April 6, 2021</h6>
							  	<h3 class="text-center">1000 &#128;</h3>
							    <p class="card-text">Mode</p>
							    <p class="card-text">Length</p>
							    <p class="card-text">Start Time</p>
							    <p class="card-text">Scoring</p>
							    <p class="card-text">Divisions</p>
							    <p class="card-text">Cost</p>
							  </div>
							</div>
						</div>
				    </div>
				    <div class="row justify-content-center">
						<div class="flex-row col-sm-12">
							<div class="card col-sm-3 offset-sm-1">
							  <h1 class="mx-auto mt-5"><i class="fas fa-users"></i></h1>
							  <div class="card-body">
							  	<h5 class="text-center">FREE DUOS</h5>
							  	<h6 class="card-subtitle mb-2 text-center">Mon. April 6, 2021</h6>
							  	<h3 class="text-center">33 &#128;</h3>
							    <p class="card-text">Mode</p>
							    <p class="card-text">Length</p>
							    <p class="card-text">Start Time</p>
							    <p class="card-text">Scoring</p>
							    <p class="card-text">Divisions</p>
							    <p class="card-text">Cost</p>
							  </div>
							</div>
							<div class="card col-sm-3 offset-sm-1">
							  <h1 class="mx-auto mt-5"><i class="fas fa-users"></i></h1>
							  <div class="card-body">
							  	<h5 class="text-center">FREE TRIOS</h5>
							  	<h6 class="card-subtitle mb-2 text-center">Mon. April 6, 2021</h6>
							  	<h3 class="text-center">44 &#128;</h3>
							    <p class="card-text">Mode</p>
							    <p class="card-text">Length</p>
							    <p class="card-text">Start Time</p>
							    <p class="card-text">Scoring</p>
							    <p class="card-text">Divisions</p>
							    <p class="card-text">Cost</p>
							  </div>
							</div>
							<div class="card col-sm-3 offset-sm-1">
							  <h1 class="mx-auto mt-5"><i class="fas fa-users"></i></h1>
							  <div class="card-body">
							  	<h5 class="text-center">QUADS</h5>
							  	<h6 class="card-subtitle mb-2 text-center">Mon. April 6, 2021</h6>
							  	<h3 class="text-center">1000 &#128;</h3>
							    <p class="card-text">Mode</p>
							    <p class="card-text">Length</p>
							    <p class="card-text">Start Time</p>
							    <p class="card-text">Scoring</p>
							    <p class="card-text">Divisions</p>
							    <p class="card-text">Cost</p>
							    <hr />
							    <p class="card-text">1st place:</p>
							    <p class="card-text">2nd place:</p>
							    <p class="card-text">3rd place:</p>
							  </div>
							</div>
						</div>
				    </div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="section-headline">
					<h3>
						<span>Learn more...</span>
					</h3>
				</div>
			</div>		
		</div>
		<div class="section section-learn">
			<div class="container">
				<div class="row">
					<div class="card">
						<div class="card-header">
							<ul class="nav nav-tabs nav-tabs-primary justify-content-center"
								role="tablist">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" href="#about" role="tab"> <i
										class="fas fa-info-circle"></i> About
								</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#location" role="tab"> <i
										class="fas fa-map-marker-alt"></i> Location
								</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#schedule" role="tab"> <i class="fas fa-calendar-alt"></i> Schedule
								</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#faq" role="tab"> <i class="fas fa-question-circle"></i> FAQ
								</a></li>
							</ul>
						</div>

						<div class="card-body">
							<!-- Tab panes -->
							<div class="tab-content text-center">
								<div class="tab-pane active" id="about" role="tabpanel">
									<p>This website is made for you and your teammates who want to compete but are tired to compete with teams which are way more skilled and have higher KD ratios than you and your team mates. Now finally you can compete against teams of the same skill as yours!</p>
								</div>
								<div class="tab-pane" id="location" role="tabpanel">
									<p><b>Location: </b>Kings street 187, Rochester, NY, 10804</p>
									<p>[Google Maps Api with ping of location]</p>
								</div>
								<div class="tab-pane" id="schedule" role="tabpanel">
									<p><b>Working hours</b></p>
									<p>Mon-Fri: 09.00h - 18.00h </p>
									<p>Sat: 09.00h - 13.00h </p>
									<p>Sun: <b style="color: red;">CLOSED</b></p>
								</div>
								<div class="tab-pane" id="faq" role="tabpanel">
									<p>"I will be the leader of a company that ends up being
										worth billions of dollars, because I got the answers. I
										understand culture. I am the nucleus. I think that’s a
										responsibility that I have, to push possibilities, to show
										people, this is the level that things could be at."</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/main::scripts"></div>
	<script>
		//This is for the scroll down button
		function scrollDown() {
			if ($('.section-one').length != 0) {
				$("html, body").animate({
					scrollTop : $('.section-one').offset().top
				}, 1000);
			}
		}
	</script>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>