<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="fragments/main::head">
<title>Bookstore App</title>
</head>
<body class="profile-page sidebar-collapse">
	<div th:replace="fragments/header::header"></div>
	<div class="page-header clear-filter" filter-color="orange">
		<div class="page-header-image" data-parallax="true"></div>
		<div class="container">
			<div class="photo-container">
				<img src="/img/ryan.jpg" alt="" /><!-- Image set by User -->
			</div>
			<h3 class="title" th:text="${user.username}"></h3>
			<p class="category" th:text="${#strings.toUpperCase(user.email)}"></p>
			<div class="content">
				<div class="social-description">
					<h2>26</h2>
					<p>Books</p><!-- Books posted by the users -->
				</div>
				<div class="social-description vl">
					<h2>26</h2>
					<p>Comments</p>
				</div>
				<div class="social-description vl">
					<h2>48</h2>
					<p>Bookmarks</p>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper container">
		<div class="section section-profile">
			<div class="card">
				<div class="row">
					<div class="col-md-3">
						<div class="card-header">
							<ul class="nav nav-tabs nav-tabs-primary flex-column"
								role="tablist">
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#edit" role="tab"
									th:classappend="${classActiveEdit}? 'active'"> <i
										class="fas fa-edit"></i> Edit
								</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#orders" role="tab"
									th:classappend="${classActiveOrder}? 'active'"> <i
										class="fas fa-list-ul"></i> Orders
								</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#billing" role="tab"
									th:classappend="${classActiveBilling}? 'active'"> <i
										class="fas fa-credit-card"></i> Billing
								</a></li>
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									href="#shipping" role="tab"
									th:classappend="${classActiveShipping}? 'active'"> <i
										class="fas fa-truck"></i> Shipping
								</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-9">
						<div class="card-body">
							<!-- Tab panes -->
							<div class="tab-content">
								<!-- Edit -->
								<div class="tab-pane" id="edit" role="tabpanel"
									th:classappend="${classActiveEdit}? 'in active'">
									<form th:action="@{/updateUserInfo}" method="post">
										<input type="hidden" name="id" th:value="${user.id}" />
										<div class="bg-info" th:if="${updateUserInfo}">User info
											updated</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6">
													<label for="firstName">First Name</label> <input
														type="text" class="form-control" id="firstName"
														name="firstName" aria-describedby="firstNameHelp"
														placeholder="First Name" th:value="${user.firstName}" />
													<small id="firstNameHelp" class="form-text text-muted">Input
														First Name here.</small>
												</div>
												<div class="col-sm-6">
													<label for="lastName">Last Name</label> <input type="text"
														class="form-control" id="lastName" name="lastName"
														aria-describedby="lastNameHelp" placeholder="Last Name"
														th:value="${user.lastName}" /> <small id="lastNameHelp"
														class="form-text text-muted">Input Last Name here.</small>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="userName">Username</label> <input type="text"
												class="form-control" id="userName" name="username"
												aria-describedby="userNameHelp" placeholder="Username"
												th:value="${user.username}" /> <small id="userNameHelp"
												class="form-text text-muted">Input Username here.</small>
										</div>
										<div class="form-group">
											<label for="currentPassword">Current Password</label> <input
												type="password" class="form-control" id="currentPassword"
												name="currentPassword"
												aria-describedby="currentPasswordHelp"
												placeholder="Current Password" th:value="${currentPassword}" />
											<small id="currentPasswordHelp" class="form-text text-muted">Enter
												your Current Password here to change the email address or
												password.</small>
										</div>
										<div class="form-group">
											<label for="newPassword">New Password</label> <input
												type="password" class="form-control" id="newPassword"
												name="newPassword" placeholder="New Password" />
										</div>
										<div class="form-group">
											<label for="confirmPassword">Confirm Password</label> <input
												type="password" class="form-control" id="confirmPassword"
												placeholder="Confirm Password" />
										</div>
										<div class="form-group">
											<label for="email">Email</label> <input type="text"
												class="form-control" id="email" name="email"
												aria-describedby="emailHelp" placeholder="Email"
												th:value="${user.email}" required="required" /> <small
												id="emailHelp" class="form-text text-muted">Enter
												your Email address (required).</small>
										</div>
										<button type="submit" class="btn btn-primary">Update Account</button>
									</form>
								</div>
								<!-- Order -->
								<div class="tab-pane" id="orders" role="tabpanel"
									th:classappend="${classActiveOrder}? 'in active'">
										
								</div>
								<!-- Billing -->
								<div class="tab-pane" id="billing" role="tabpanel"
									th:classappend="${classActiveBilling}? 'in active'">
									<div class="form-group">
											<ol class="breadcrumb">
												<li class="breadcrumb-item active">
													<a th:href="@{/listOfCreditCards}" th:style="${listOfCreditCards}? 'color:gray'">List of Credit Cards</a>
												</li>
												<li class="breadcrumb-item active">
													<a th:href="@{/addNewCreditCard}" th:style="${addNewCreditCard}? 'color:gray'">Add(Update) Credit Card</a>
												</li>
											</ol>
											<div th:if="${listOfCreditCards}">
												<form th:action="@{/setDefaultPayment}" method="post">
													<table class="table">
														<thead>
															<tr>
																<th>Default</th>
																<th>Credit Card</th>
																<th>Operations</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="userPayment : ${userPaymentList}">
																<td>
																	<input type="radio" name="defaultUserPaymentId" th:value="${userPayment.id}" th:checked="${userPayment.defaultPayment}" />
																</td>
																<td th:text="${userPayment.cardName}"></td>
																<td>
																	<a class="btn btn-info" th:href="@{/updateCreditCard(id=${userPayment.id})}"><i class="fa fa-pencil-alt"></i></a>
																	<a class="btn btn-danger" th:href="@{/deleteCreditCard(id=${userPayment.id})}"><i class="fa fa-trash-alt"></i></a>
																</td>
															</tr>
														</tbody>
													</table>
													<button class="btn btn-primary" type="submit">Save</button>
												</form>
											</div>
											<div th:if="${addNewCreditCard}">
												<form th:action="@{/addNewCreditCard}" method="post">
													<div class="bg-info" th:if="${updateUserPaymentInfo}">User Info Updated!</div>
													<input hidden="hidden" name="id" th:value="${userPayment.id}" />
													<div class="form-group">
														<h5>* Give a name for your card: </h5>
														<input type="text" class="form-control" id="cardName" placeholder="Card Name" th:name="cardName" required="required" th:value="${userPayment.cardName}" />
													</div>
													<!-- Billing Address -->
													<hr />
													<div class="form-group">
														<h4>Billing Address</h4>
													</div>
														<div class="form-group">
															<label for="billingName">* Name</label>
															<input type="text" class="form-control" id="billingName" placeholder="Reciever Name" th:name="userBillingName" required="required" th:value="${userBilling.userBillingName}" />
														</div>
														<div class="form-group">
															<label for="billingAddress">* Street Address</label>
															<input type="text" class="form-control" id="billingAddress" placeholder="Street Address 1" th:name="userBillingStreet1" required="required" th:value="${userBilling.userBillingStreet1}" />
															<br />
															<input type="text" class="form-control" id="billingAddress" placeholder="Street Address 2" th:name="userBillingStreet2" th:value="${userBilling.userBillingStreet2}" />
														</div>
														<div class="row">
															<div class="col-sm-4">
																<div class="form-group">
																	<label for="billingCity">* City</label>
																	<input type="text" class="form-control" id="billingCity" placeholder="Billing City" th:name="userBillingCity" required="required" th:value="${userBilling.userBillingCity}" />
																</div>
															</div>
															<div class="col-sm-4">
																<div class="form-group">
																	<label for="billingCountry">* Country</label>
																	<select id="billingCountry" class="form-control" th:name="userBillingCountry" th:value="${userBilling.userBillingCountry}" required="required">
																		<option value="" disabled="disabled">Please, choose a Country</option>
																		<option th:each="country : ${countriesList}" th:text="${country}" th:selected="(${userBilling.userBillingCountry}==${country})"></option>
																	</select>
																</div>
															</div>
															<div class="col-sm-4">
																<div class="form-group">
																	<label for="billingZipCode">* Zip Code</label>
																	<input type="text" class="form-control" id="billingZipCode" placeholder="Billing Zip Code" th:name="userBillingZipCode" required="required" th:value="${userBilling.userBillingZipCode}" />
																</div>
															</div>
														</div>
													<!-- Credit Card Information -->
													<hr />
													<div class="form-group">
														<h4>Credit Card Information</h4>
													</div>
													<div class="row">
														<div class="col-sm-12">
															<img src="/img/creditcard.png" class="img-responsive" /><br />
															<div class="form-group">
																<label for="cardType">* Card Type</label>
																<select class="form-control" id="cardType" th:name="type" th:value="${userPayment.type}">
																	<option value="visa">Visa</option>
																	<option value="mastercard">Mastercard</option>
																	<option value="discover">Discover</option>
																	<option value="amex">American Express</option>
																</select>
															</div>
															<div class="form-group">
																<label for="cardHolder">* Card Holder Name</label>
																<input type="text" class="form-control" id="cardHolder" required="required"
																placeholder="Card Holder Name" th:name="holderName" th:value="${userPayment.holderName}" />
															</div>
															<div class="form-group">
																<label for="cardNumber">* Card Number</label>
																<div class="input-group">
																	<input type="tel" class="form-control" id="cardNumber" required="required"
																	placeholder="Valid Card Number" th:name="cardNumber" th:value="${userPayment.cardNumber}" />
																	<div class="input-group-append">
																		<div class="input-group-text">
																			<i class="fas fa-credit-card"></i>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-7">
															<div class="form-group">
																<label>* Expiration Date</label>
																<div class="row">
																	<div class="col-sm-6">
																		<select class="form-control" name="expiryMonth" required="required" th:value="${userPayment.expiryMonth}">
																			<option disabled="disabled">--Month--</option>
																			<option th:each="month : ${#numbers.sequence(1,12)}" th:value="${month}" th:text="${month}"></option>
																		</select>
																	</div>
																	<div class="col-sm-6">
																		<select class="form-control" name="expiryYear" th:value="${userPayment.expiryYear}">
																			<option disabled="disabled">--Year--</option>
																			<option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), (#dates.year(#dates.createNow())+12))}" th:value="${year}" th:text="${year}"></option>
																		</select>
																	</div>
																</div>
															</div>	
														</div>
														<div class="col-sm-5">
															<div class="form-group">
																<label for="cardCVC">CV Code</label>
																<input id="cardCVC" type="tel" class="form-control" name="cardCVC" placeholder="CVC" th:name="cvc" th:value="${userPayment.cvc}" />
															</div>
														</div>
													</div>
													<hr />
													<button type="submit" class="btn btn-round btn-primary btn-lg">Save All</button>
												</form>
											</div>
										</div>
								</div>
								<!-- Shipping -->
								<div class="tab-pane" id="shipping" role="tabpanel"
									th:classappend="${classActiveShipping}? 'in active'">
									<div class="form-group">
											<ol class="breadcrumb">
												<li class="breadcrumb-item active">
													<a th:href="@{/listOfShippingAddresses}" th:style="${listOfShippingAddresses}? 'color:gray'">List of Shipping Addresses</a>
												</li>
												<li class="breadcrumb-item active">
													<a th:href="@{/addNewShippingAddress}" th:style="${addNewShippingAddress}? 'color:gray'">Add(Update) Shipping Address</a>
												</li>
											</ol>
											<div th:if="${listOfShippingAddresses}">
												<form th:action="@{/setDefaultShippingAddress}" method="post">
													<table class="table">
														<thead>
															<tr>
																<th>Default</th>
																<th>Shipping Address</th>
																<th>Operations</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="userShipping : ${userShippingList}">
																<td>
																	<input type="radio" name="defaultShippingAddressId" th:value="${userShipping.id}" th:checked="${userShipping.userShippingDefault}" />
																</td>
																<td th:text="${userShipping.userShippingStreet1} +', '+ ${userShipping.userShippingCity} +', '+ ${userShipping.userShippingCountry}"></td>
																<td>
																	<a class="btn btn-info" th:href="@{/updateUserShipping(id=${userShipping.id})}"><i class="fa fa-pencil-alt"></i></a>
																	<a class="btn btn-danger" th:href="@{/deleteShippingAddress(id=${userShipping.id})}"><i class="fa fa-trash-alt"></i></a>
																</td>
															</tr>
														</tbody>
													</table>
													<button class="btn btn-primary" type="submit">Save</button>
												</form>
											</div>
											<div th:if="${addNewShippingAddress}">
												<form th:action="@{/addNewShippingAddress}" method="post">
													<div class="bg-info" th:if="${updateUserShippingInfo}">User info updated.</div>
													<input hidden="hidden" name="id" th:value="${userShipping.id}" />
													<hr />
													<!-- Shipping Address -->
													<div class="form-group">
														<h4>Shipping Address</h4>
													</div>
														<div class="form-group">
															<label for="shippingName">* Name</label>
															<input type="text" class="form-control" id="shippingName" placeholder="Shipping Name" th:name="userShippingName" required="required" th:value="${userShipping.userShippingName}" />
														</div>
														<div class="form-group">
															<label for="shippingAddress">* Street Address</label>
															<input type="text" class="form-control" id="shippingAddress" placeholder="Street Address 1" th:name="userShippingStreet1" required="required" th:value="${userShipping.userShippingStreet1}" />
															<br />
															<input type="text" class="form-control" placeholder="Street Address 2" th:name="userShippingStreet2" th:value="${userShipping.userShippingStreet2}" />
														</div>
														<div class="row">
															<div class="col-sm-4">
																<div class="form-group">
																	<label for="shippingCity">* City</label>
																	<input type="text" class="form-control" id="shippingCity" placeholder="Shipping City" th:name="userShippingCity" required="required" th:value="${userShipping.userShippingCity}" />
																</div>
															</div>
															<div class="col-sm-4">
																<div class="form-group">
																	<label for="shippingCountry">* Country</label>
																	<select id="shippingCountry" class="form-control" th:name="userShippingCountry" th:value="${userShipping.userShippingCountry}" required="required">
																		<option value="" disabled="disabled">Please, choose a Country</option>
																		<option th:each="country : ${countriesList}" th:text="${country}" th:selected="(${userShipping.userShippingCountry}==${country})"></option>
																	</select>
																</div>
															</div>
															<div class="col-sm-4">
																<div class="form-group">
																	<label for="shippingZipCode">* Zip Code</label>
																	<input type="text" class="form-control" id="shippingZipCode" placeholder="Shipping Zip Code" th:name="userShippingZipCode" required="required" th:value="${userShipping.userShippingZipCode}" />
																</div>
															</div>
														</div>
													<hr />
													<button type="submit" class="btn btn-round btn-primary btn-lg">Save All</button>
												</form>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
	<div th:replace="fragments/main::scripts"></div>
</body>
</html>