<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head th:replace="fragments/main::head">
<title>Royale League</title>
</head>
<body class="profile-page sidebar-collapse">
	<div th:replace="fragments/header-dark::header"></div>
	<div class="wrapper container">
		<div class="section section-shoppingCart">
			<div class="section">
				<div class="section-headline">
					<h3>
						<span>Shopping Cart</span>
					</h3>
				</div>
				<hr class="hr-center" />
			</div>
			<div class="row">
					<div class="col-sm-6 text-left">
						<a class="btn btn-primary btn-round" th:href="@{/bookshelf}"><i class="fas fa-shopping-cart fa-lg"></i>&nbsp;&nbsp; Continue Shopping </a>
					</div>
					<div class="col-sm-6 text-right">
						<a class="btn btn-info btn-round" th:href="@{/checkout(id=${shoppingCart.id})}"> Check Out &nbsp;&nbsp;<i class="now-ui-icons arrows-1_minimal-right"></i></a>
					</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div th:if="${notEnoughStock}" class="alert alert-warning">
						Oops, some of the products don't have enough stock. Please, update product quantity.
					</div>
					<div th:if="${emptyCart}" class="alert alert-warning">
						Oops, your cart is empty. See if you can find what you want in the bookshelf and add them to cart.
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-sm-7"><h4>Products</h4></div>
				<div class="col-sm-2"><h4>Price</h4></div>
				<div class="col-sm-2"><h4>Qty</h4></div>
				<div class="col-sm-1"></div>
			</div>
			<!-- Display products in cart -->
			<div th:each="cartItem : ${cartItemList}">
				<form th:action="@{/shoppingCart/updateCartItem}" method="post">
				<hr/>
					<div class="row">
						<div class="col-sm-2">
							<a th:href="@{/bookDetail(id=${cartItem.book.id})}">
								<img th:if="${cartItem.book.imageType == '.jpg'}" class="img-responsive shelf-book" th:src="#{adminPath} + @{/img/book/} + 'default.jpg'" />
								<img th:if="${cartItem.book.imageType == '.png'}" class="img-responsive shelf-book" th:src="#{adminPath} + @{/img/book/} + ${cartItem.book.id} + '.png'" /> 
							</a>
						</div>
						<div class="col-sm-5">
							<span class="center-block">
								<a th:href="@{/tournamentDetail?id=} + ${cartItem.id}"><h4 th:text="${cartItem.tournament.title}"></h4></a>
								<p th:if="${cartItem.tournament.inStockNumber &gt; 10}"><h6 style="color:green;">Available</h6></p>
								<p th:if="${cartItem.tournament.inStockNumber &lt; 10 and cartItem.tournament.inStockNumber &gt; 0}"><h6 style="color:green;">Only
								<span th:text="${cartItem.tournament.inStockNumber}"></span> left</h6></p>
								<p th:if="${cartItem.tournament.inStockNumber == 0}"><h6 style="color:red;">Unavailable</h6></p>
							</span>
						</div>
						<div class="col-sm-2">
							<h5 style="color:#db3208;font-size:large;">$ <span th:text="${cartItem.tournament.ourPrice}" th:style="${cartItem.tournament.inStockNumber} == 0 ? 'text-decoration: line-through' : ''"></span></h5>
						</div>
						<div class="col-sm-2">
							<input hidden="hidden" name="id" th:value="${cartItem.id}" />
							<input th:id="${cartItem.id}" th:name="qty" th:disabled="${cartItem.tournament.inStockNumber == 0}" class="form-control cartItemQty" th:value="${cartItem.qty}" />
							<button style="display:none;" th:id="'update-item-' + ${cartItem.id}" type="submit" class="btn btn-primary btn-sm">Update</button>
						</div>
						<div class="col-sm-1 my-auto">
							<a class="btn btn-danger" th:href="@{/shoppingCart/removeItem?id=} + ${cartItem.id}"><i class="fas fa-trash-alt"></i></a>
						</div>
					</div>
				</form>
			</div>
			<hr/>
			<div class="row">
				<h4 class="col-sm-12 text-right">
					<strong style="font-size:large;">Total Price (<span th:text="${#lists.size(cartItemList)}"></span> items):</strong>
					<span style="color:#db3208;font-size:large;"><h3>$ <span th:text="${shoppingCart.grandTotal}"></span></h3></span>
				</h4>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
	<div th:replace="fragments/main::scripts"></div>
</body>
</html>